* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 4rem;
}

.carousel-wrap {
  position: relative;
  /* border: dashed red; */
  /* width: 1200px; */
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  /* border: solid blue; */
  display: flex;
  width: 100%;
  flex-shrink: 0;
  align-items: flex-start;
  transition: all 0.5s;
}

.carousel img {
  display: block;
  width: 100%;
  /* border: solid green; */
  flex-shrink: 0;
}

.btn-next,
.btn-prev {
  top: 50%;
  position: absolute;
  padding: 1rem;
  opacity: 0.5;
  z-index: 1;
}
.btn-prev {
  left: 0;
}
.btn-next {
  right: 0;
}
