* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-image: url(img/topography.svg);
  background-color: #fafafa;
}

header {
  position: absolute;
  top: 0;
  padding: 28px;
  font-size: 26px;
  color: blueviolet;
}

.social {
  text-align: center;
  margin-top: 16px;
}
.social a {
  margin: 0 16px;
  color: inherit;
  transition: opacity 0.3s;
}
.social a:hover {
  opacity: 0.5;
}

.carousel-wrap {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 34px;
  box-shadow: 0 8px 30px rgba(34, 51, 68, 0.5);
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  transition: all 0.5s;
}
.carousel-item {
  position: relative;
  width: 100%;
  flex-shrink: 0;
}

.carousel img {
  display: block;
  width: 100%;
}

.image-text {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 14px;
  color: white;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.btn-next,
.btn-prev {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  padding: 32px 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 28px;
  transition: background-color 0.3s;
  cursor: pointer;
  z-index: 1;
}
.btn-next:hover,
.btn-prev:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.btn-prev {
  left: 0;
  border-radius: 0 8px 8px 0;
}
.btn-next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
